@media screen and (max-width: 1100px){

    .form_container form{
        margin-left: 40px;
        margin-top: 20px;
    }

    div.form_container{
        height: 800px;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    section div.center{
        width: 100%;
    }

    section div.center div.center_title h2{
        font-size: 20px;
    }

    div.mosaic{
        width: 100%;
    }

    div.mosaic div.info{
        width: 100%;
        height: fit-content;
        display: block;
    }

    div.mosaic div.info div.info_text{
        width: 100%;
        height: fit-content;
        padding: 80px 50px;   
    }

    div.mosaic div.info div.info_text p{
        font-size: 16px;
    }

    div.mosaic div.info div.info_img{
        width: 100%;
        height: fit-content;
    }
    
}

@media screen and (max-width: 1250px) {
    
    .form_container form{
        margin-left: 40px;
        margin-top: 20px;
    }

    div.form_container{
        height: 800px;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    section div.center{
        width: 100%;
    }

    section div.center div.center_title h2{
        font-size: 20px;
    }

    div.mosaic{
        width: 100%;
    }
    
    div.mosaic div.info{
        width: 100%;
    }

}

@media screen and (max-width: 700px){
    header div.logo1{
        display: none;
    }
    
    header{
        height: fit-content;
        padding: 10px 0;
        justify-content: center;
    }
}